[Desktop Entry]
Type=Application
Name=WineProtonManager-v1.1.0
Exec=WineProtonManager
Icon=WineProtonManagericon
Categories=Utility;
Comment=Configurador de WINE/Proton para Steam Deck
